#container, #container {
	//padding-top:30px;
	//padding-left:100px;
	//padding-right:100px;
	padding: 2em 2em 4em;
	margin: 0 auto;
	font-size:16px;
	min-width: 900px;
	max-width: 900px;
}

body {
}

.table-sm{
	font-size:16px;
}
h1{
	font-size:66px;
}
h2{
	font-size:54px;
}
h3{
	font-size:42px;
}
h4{
	font-size:30px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}

.btn{
	font-size:14px !important;
}

.fixed-td {
	width: 120px;
}

.img-thumbnail {
	width: 100px;
	height: 100px;
}

.face-thumbnail {
	width: 140px;
	height: 140px;
}
